
.field-description {
  display:none;
}

.help-block{
  display:none;
} 

#titlebar{
  text-align: center;

}

#submitButton {
  width: 20rem;
  padding:1rem;
  margin-bottom: 5rem;
}

 .col-xs-offset-9{
  margin-left: 0 !important;
} 

#helpToggle, #hintToggle {
  text-align:center;
  width: 20rem;
  padding:1rem;
  position: relative;
  /* top: 2rem; */
  left: 30%; 
  margin-bottom: 1.5rem;

}

#root_publiclySharedMetadata__title, #root_internalMetadata__title,
#loadExistingSection_title {
  border: 1px solid;
  border-radius: 1vw;
  padding: 5px;
  text-align:center;
  background: green;
  color: white;
}




#root_publiclySharedMetadata, #root_internalMetadata,#loadExistingSection {
  border-radius: 1vw;
  border: 1px solid;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
  margin-bottom: 1.0rem;
  padding: .5rem 5rem .5rem 5rem;
}

#root__title {
  display:none;
}